@import url("https://fonts.googleapis.com/css2?family=Reggae+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  --primary-font: "Reggae One", sans-serif;
  --secondary-font: "Roboto";
  /* --main-color: #4a0002; */
  --primary-color: #3a2224;
  --light-primary-color: #3a22249a;
  --cream-color: #fcf3e7;
  --light-cream-color: #fffaf5;
  /* --gryfindor-color: #ff6c6c; */
  /* --huflepuff-color: #f2cea2; */
}
body {
  margin: 0 2vw;
  padding: 0;
  background-color: var(--light-cream-color);
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vw 3vw;
}

.actionstab {
  float: right;
}

h1 {
  font-family: var(--primary-font);
  color: var(--primary-color);
  margin-bottom: 10px;
  font-size: 3vw;
}

h2 {
  text-transform: uppercase;
  margin-top: 0;
  font-weight: 100;
  font-size: 1vw;
}

h3 {
  font-weight: 300;
  text-align: center;
  font-size: 1.5vw;
}

/* styling list */
.line {
  border-top: 0.2px solid var(--light-primary-color);
  border-bottom: 0.2px solid var(--light-primary-color);
}

.introtext {
  background-color: var(--light-primary-color);
  width: 25vw;
  text-align: left;
  font-size: 0.8vw;
  color: var(--cream-color);
  /* margin: 1vw 20vw 2vw 20vw; */
  padding: 1vw;
  font-weight: 300;
  border-radius: 5px;
  position: absolute;
  right: 2vw;
  top: 4vw;
}

/* .introtext p {
  text-align: center;
  font-weight: 100;
} */

.numbers {
  margin: 1vw 20vw 2vw 20vw;
  padding: 1vw;
  color: var(--primary-color);
  font-size: 1.2vw;
  font-weight: 300;
}

/* styling the table */

thead th {
  padding: 3vw 0 2vw 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table td {
  border-top: 1px solid var(--light-primary-color);
}
table tr:first-child td {
  border-top: 0;
}
table tr td:first-child {
  border-left: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:last-child {
  border-right: 0;
}

.tabledata {
  /* color: white; */
  color: var(--primary-color);
  font-size: 1.2w;
}

.avatar img {
  width: 3.5vw;
  height: 3.5vw;
}

.avatar:hover {
  transform: scale(1.05);
}

/* styling headlines and sorting */
#sorting {
  /* font-family: var(--primary-font); */
  font-family: var(--secondary-font);
  text-align: left;
  font-size: 1vw;
}

[data-action] {
  cursor: pointer;
}

#sorting th.sortby {
  text-decoration: underline;
}

#sorting th.sortby {
  text-decoration: underline;
}

#sorting th.sortby[data-sort-direction="asc"]::after {
  content: "↑";
}

#sorting th.sortby[data-sort-direction="desc"]::after {
  content: "↓";
}

/*styling modal*/
div.modal {
  /* background-color: black; */
  position: fixed;
  z-index: 10;
  top: 8rem;
  color: var(--main-color);
  width: 25%;
  overflow: scroll;
  position: fixed;
  left: 35%;
  border-radius: 5px;
}

.studentdata {
  color: white;
  text-align: center;
  padding: 3vw 5vw;
}

.modalavatar img {
  width: 10vw;
  height: auto;
}

.modalcrest {
  position: absolute;
  top: 1vw;
  right: 6vw;
}

.modalcrest img {
  width: 4vw;
  height: 5.5vw;
}

.modalfullname {
  font-family: var(--primary-font);
  font-size: 1.5vw;
  padding: 1vw 0 0.5vw 0;
  margin-bottom: 1vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.295);
}

.extrainfogrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hide {
  display: none;
}

/* style houses crests */
.houses-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 2vw 5vw 5vw 5vw;
}

.hogwards-img {
  background-image: url(images/Hogwarts.png);
}

.expelled-img {
  background-image: url(images/Expelled.png);
}

.house-1-img {
  background-image: url(images/Gryffindor.png);
}

.house-2-img {
  background-image: url(images/Hufflepuff.png);
}

.house-3-img {
  background-image: url(images/Ravenclaw.png);
}

.house-4-img {
  background-image: url(images/Slytherin.png);
}

.houseimg {
  background-size: contain;
  width: 10vw;
  height: 12.5vw;
}

.houseflex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total-number-of-students,
.expelled-number-of-students,
.house-1-studentsnr,
.house-2-studentsnr,
.house-3-studentsnr,
.house-4-studentsnr {
  font-size: 1.5vw;
}

/* styling controller */
.controller {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.right {
  text-align: end;
  float: left;
}

.search {
  border: 0.5px solid var(--light-cream-color);
  padding: 0.7vw 1vw;
  font-size: 1vw;
  font-weight: 100;
}

.filter {
  font-size: 1vw;
  padding: 0.7vw 1vw;
  font-weight: 100;
  background-color: white;
  border: 0.5px, solid, var(--cream-color);
  color: var(--light-primary-color);
}

.filter:active {
  background-color: var(--cream-color);
  color: var(--primary-font);
}

.activefilter {
  background-color: var(--cream-color);
  color: var(--primary-font);
}

/* styling dialog */
.dialog {
  padding: 2em;
  border-radius: 10px;
  background-color: var(--primary-color);
  position: relative;
  color: white;
  text-align: center;
}

.closebutton {
  position: absolute;
  right: 1vw;
  top: 1.5vw;
}

.dialog h3 {
  font-family: var(--primary-font);
}

/* house colors */
div.modal.griff_house {
  background-color: #b6602b;
}

div.modal.huff_house {
  background-color: #252644;
}

div.modal.sly_house {
  background-color: #155339;
}

div.modal.rav_house {
  background-color: #19206c;
}

/* .crestimg {
  background-size: contain;
  width: 10vw;
  height: 12.5vw;
  position: absolute;
  top: 10;
} */

.greyscale {
  filter: grayscale(1);
}

.color {
  filter: grayscale(0);
}
